.client_icon_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client_name{
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;

  margin-right: 5px;
}

/*----login_icon_wrapper----*/
.login_icon{
  cursor: pointer;
}

/*moving login form*/
.moving_auth_window{
  padding: 20px 30px;
  border: 1px solid black;
  position: absolute;
  right: 0;
  top: auto;
  transform: scale(0);
  z-index: 1000;

  transform-origin: top right;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: #FFF;
  color: black;
  width: 350px;
}
.moving_auth_window.show{
  transform: scale(1);
}



/*--------login_form-----*/
.login_form, .registration_form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_title{
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 500;
  width: 90%;
  padding: 2px;
  text-align: center;
  border-bottom: 1px solid black;
}
.form_element{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error{
  color: red;
  font-size: 0.8em;
}
.response_error{
  color: red;
  font-size: 1.1em;
  margin-bottom: 10px;
}


input.ng-touched.ng-invalid{
 border-color: red;
}

.common_button{
  font-size: 16px;
}

.go_to_registration, .go_to_login{
  text-align: center;
  margin-top: 10px;
}
.form_link{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

@media all and (max-width: 500px) {
  .icon_wrapper{
    transform: scale(0.6) translateY(30%);
  }

  .login_icon{
    width: 15px;
    height: auto;
  }

  .client_name{
    font-size: 14px;
    line-height: 18px;
  }
}
