/*----cart_icon_wrapper----*/

.cart_icon_wrapper{
  position: relative;
  padding: 0;
  cursor: pointer;
}
.cart_icon_wrapper:focus{
  outline: none;
}
.cart_counter{
  position: absolute;
  bottom: 20px;
  left: 30px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: red;
  font-size: 0.8em;
  color: #fff;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media all and (max-width: 500px) {
  .cart_icon_wrapper{
    transform: scale(0.7);
  }
}
