
/*section to_catalog */
.to_catalog{
	position: relative;
}

.to_catalog img {
  display: block;
	width: 100%;
}

.to_catalog .content{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.to_catalog .text{
	font-family: Podkova;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	line-height: 37px;
	text-align: center;
	color: #FFFFFF;

	margin-bottom: 18px;
}
.link-button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 45px;
	text-decoration:none;
	outline: none;
}
.link-button_text{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #000000;

	text-transform: uppercase;
}

/*section to_about_us */

.to_about_us{
	position: relative;

	display: flex;
	flex-direction: row;
	margin-top: 75px;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 75px;
}

.to_about_us .content{
	margin-top: 75px;
	margin-left: 5%;
}

.to_about_us .content_title{
	text-transform: uppercase;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
}

.to_about_us .text{
	margin-top: 45px;
	width: 450px;
}

.to_about_us .link-button{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 20px;
}


.content, .to_about_us img{
	transition: 0.3s;
}

@media all and (max-width: 800px) {
	.to_catalog .content{
		transform: scale(0.5) translate(-100%, -100%);
		width: 100%;
	}

	.to_about_us .content{
		transform: scale(0.7) translate(-20%, -20%);
	}

	.to_about_us img{
		width: 150px;
		height: auto;
	}
}

@media all and (max-width: 500px) {
	.to_about_us .content{
		transform: scale(0.5) translate(-50%, -50%);
	}
	.to_about_us img{
		width: 110px;
		height: auto;
	}
}
