<section class="to_catalog">
	<img src="/assets/main1.png" width="100%" vspace="0" alt="">
	<div class="content">
		<div class="text">
			Мы стремимся сделать ваше окружение намного более современным и вдохновляющим.
		</div>
		<a class="link-button lemon" routerLink="/shop">
			<span class="link-button_text">Каталог</span>
		</a>
	</div>
</section>

<section class="to_about_us">
	<img src="/assets/main2.png" width="30%" height=auto alt="">
	<div class="content">
		<div class="content_title">
			МЫ ДЕЛАЕМ КАЧЕСТВЕННЫЙ ПРОДУКТ
		</div>
		<div class="text">
			Наша мебель станет прекрасным дополнением интерьера вашего дома или офиса. <br>
			Если у вас есть какие-либо вопросы, вы можете связаться с нашими операторами, они всегда рады вам помочь. <br>
			Мы подберем идеальную мебель и цветовую палитру специально для вас!
		</div>
		<a class="link-button lemon" routerLink="/about-us">
			<span class="link-button_text">О нас</span>
		</a>
	</div>
</section>
