<div class="curtain off" (click)="showOrHideMenu()">
</div>

<div class="moving_menu">
  <nav class="menu_list">
    <div class="menu_item_wrapper">
      <a class="menu_item" routerLink="/home" (click)="showOrHideMenu()">
        Главная
      </a>
    </div>
    <div class="menu_item_wrapper">
      <a class="menu_item" routerLink="/shop" (click)="showOrHideMenu()">
        Каталог
      </a>
    </div>
    <div class="menu_item_wrapper">
      <a class="menu_item" routerLink="/about-us" (click)="showOrHideMenu()">
        О нас
      </a>
    </div>
    <div class="menu_item_wrapper">
      <a class="menu_item" routerLink="/contacts" (click)="showOrHideMenu()">
        Контакты
      </a>
    </div>
  </nav>
  <div class="icon_wrapper">
    <div class="icon burger" (click)="showOrHideMenu()">
      <div class="b_line1"></div>
      <div class="b_line2"></div>
      <div class="b_line3"></div>
    </div>
  </div>
</div>

<div class="line-header">
  <div class="flexbox">
    <nav class="line-menu">
      <a class="line_menu_item current" routerLink="/home">
        Главная
      </a>
      <a class="line_menu_item" routerLink="/shop">
        Каталог
      </a>
      <a class="line_menu_item" routerLink="/about-us">
        О нас
      </a>
      <a class="line_menu_item" routerLink="/contacts">
        Контакты
      </a>
    </nav>
    <div class="icons">
      <app-authorization></app-authorization>
      <app-cart></app-cart>
    </div>
  </div>

    <div class="title_wrapper">
      <div class="title notranslate">
        <div class="main_title">
          Woodpecker
        </div>
        <div class="subtitle">
          handmade studio
        </div>
      </div>
    </div>
</div>

<div class="margin-top">
</div>
