.info_wrapper{
  position: absolute;
  top: 10%; right: 0;
  background: rgba(0, 0, 0, 0.57);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
  padding: 40px 60px;
  text-align: center;
  text-transform: uppercase;
}

.flexbox{
  display: flex;
  flex-direction: row;
}

section{
  margin: 0 40px;
}

.big_section_title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
}

.contact, .time{
  margin: 40px 0px;
}

.contact_name, .clock{
  font-family: Podkova;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
}

.contact_body{
  font-family: Podkova;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
}

.section_title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
}

.days{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
}

.address{
  font-family: Podkova;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

.background{
  content: url("src/assets/contacts-background.jpg");
}

@media all and (max-width: 1000px) {
  .background{
    content: url("src/assets/contacts-background_mobile.jpg");
  }

  .info_wrapper{
    position: absolute;
    left: 0; right: 0; top: 0;
    background: none;
    padding: 10px 15px;
    flex-direction: column;
  }
  .flexbox{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact, .time{
    margin: 20px 0px;
  }

  .contact_us, .service_time, .pick-up_point{
    margin-bottom: 40px;
  }
}
