<div class="wrapper">
  <img src="assets/contacts-background.jpg" width="100%" height="auto" alt="">
  <div class="info_wrapper">
    <div class="flexbox">
      <section class="contact_us">
        <div class="big_section_title">
          Контакты
        </div>
        <div class="contact">
          <div class="contact_name">
            Телефон
          </div>
          <div class="contact_body">
            +9 956 144 55
          </div>
        </div>
        <div class="contact">
          <div class="contact_name">
            Email
          </div>
          <div class="contact_body">
            SOBAKA@DOG.RU
          </div>
        </div>
      </section>
      <section class="service_time">
        <div class="section_title">
          Время обслуживания
        </div>
        <div class="time">
          <div class="clock">
            08.30 - 22.00
          </div>
          <div class="days">
            пн - чт
          </div>
        </div>
        <div class="time">
          <div class="clock">
            08.30 - 02.00
          </div>
          <div class="days">
            пт -сб
          </div>
        </div>
        <div class="time">
          <div class="clock">
            08.30 - 20.00
          </div>
          <div class="days">
            вс
          </div>
        </div>
      </section>
    </div>
    <section class="pick-up_point">
      <div class="section_title">
        Пункт выдачи
      </div>
      <div class="address">
        Санкт-Петербург, ул. Рубинштейна 36/2
      </div>
      <img src="assets/map.jpg" width="400px" alt="">
    </section>
  </div>
</div>
