<section class="our_team">
  <div class="section_text">
    <div class="section_title">Наша команда</div>
    <p>
      Наша команда состоит из молодых и амбициозных специалистов,
      которые знают свою работу и выполняют ее эффективно и в срок.
    </p>
    <p>
      Все наши сотрудники - лучшие профессионалы своего дела.
      Они окончили высшие учебные заведения, различные курсы,
      постоянно повышают свою квалификацию и посещают различные выставки,
      конференции и лекции.
    </p>
    <p>
      Качественный и визуально эстетичный результат
      никогда не разочарует наших клиентов. Мы несем ответственность за
      внешний вид и материал нашей продукции.
    </p>
  </div>
  <img class="section_photo" src="/assets/our_team.jpg" alt="">
</section>

<section class="we_offer">
  <img class="section_photo" src="/assets/we_offer.jpg" alt="">
  <div class="section_text">
    <div class="section_title">Мы предлагаем</div>
    <p>
      Мы предлагаем оригинальную дизайнерскую мебель и
      наслаждаемся эксклюзивными правами на распространение
      от ведущих производителей.
    </p>
    <p>
      <span class="subtitle">Доступные цены<br></span>
      Нам удалось создать доступные цены, упростив цепочку закупок:
      наш покупатель получает прямую доставку от производителя
      до дверей своего дома, минуя посредников.
    </p>
    <p>
      <span class="subtitle">Удобная покупка<br></span>
      Вместе с нашими консультантами, которые всегда готовы с вами
      поговорить, вы сможете завершить гармоничный личный интерьер, не выходя из дома.
    </p>
  </div>
</section>

<section class="our_principles">
  <div class="section_text">
    <div class="section_title">Наши принципы</div>
    <p>
      <span class="subtitle">Качество<br></span>
      Мы уважаем высокое качество. Для нас важно удовлетворить все ожидания клиентов и даже больше.
      Современная мебель - это высокий уровень дизайна с акцентом на качество и
      исключительное внимание к деталям.
    </p>
    <p>
      <span class="subtitle">Материалы<br></span>
      Мы поддерживаем баланс между
      традициями и инновациями, умело используя натуральные и технологичные материалы,
      такие как дерево и пластик, металл и закаленное стекло, кожа и экокожа.
    </p>
    <p>
      <span class="subtitle">Дизайн<br></span>
      Основные принципы нашего дизайна: креативные решения, смелые комбинации
      и функциональность. Мы любим простые геометрические формы, мягкие линии и
      выразительные акценты. Мы отказываемся от всего лишнего и неконструктивного,
      но сохраняем все функциональное и необходимое и придаем ему привлекательный вид.
    </p>
  </div>
  <img class="section_photo" src="/assets/our_principles.jpg" alt="">
</section>
