section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 150px 20px;
}

.section_text{
  width: 40%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.015em;

  color: #000000;
}

.section_title{
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 41px;

  color: #000000;
}

.subtitle{
  font-weight: 600;
}


.section_photo{
  width: 30%;
  height: auto;
}
